@(weatherCond: List[String],mongoDataTempRaw: List [String], mongoDataHumiRaw: List[String], mongoDataWindSRaw: List[String], mongoDataWindDRaw: List[String], allDayTemp: List[Object], allDayHumi: List[Object], allDayWindS: List[Object], allDayWindD: List[Object], switchForm: Form[Switcher])

<!DOCTYPE html>
<html lang="en">
    <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118405183-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118405183-1');
</script>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta charset=utf-8>
        <title>Landing</title>
        <!-- load d3.min.js and c3.min.js/css-->
        <script src="@routes.Assets.versioned("javascripts/lib/d3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/c3.min.js")" type="text/javascript"></script>
        <link href="@routes.Assets.versioned("stylesheets/lib/c3.min.css")" rel="stylesheet" media="screen">

        <!-- load jquery before bootstrap-->
        <script src="@routes.Assets.versioned("javascripts/lib/jquery-2.2.4.js")" type="text/javascript"></script>

        <!-- load bootstrap js and css (bootstrap JS MUST be after jquery) -->
        <script src="@routes.Assets.versioned("javascripts/lib/bootstrap.min.js")" type="text/javascript"></script>
        <link href="@routes.Assets.versioned("stylesheets/lib/bootstrap.min.css")" rel="stylesheet" media="screen">

        <!-- load other libraries -->
        <script src="@routes.Assets.versioned("javascripts/lib/moment.min.js")" type="text/javascript"></script>  <!-- moment js -->
        <script src="@routes.Assets.versioned("javascripts/lib/d3.legend.js")" type="text/javascript"></script>  <!-- d3.legend -->


        <!-- load custom assets in public/javascripts for js files and public/stylesheets for css files -->
        <!-- load graph js -->
        <script src="@routes.Assets.versioned("javascripts/graphs/tempGraphs.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/graphs/humidityGraphs.js")" type="text/javascript"></script>
        
        <!-- load widget js -->
        <script src="@routes.Assets.versioned("javascripts/widgets/therm.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/widgets/humiGauge.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/widgets/compass.js")" type="text/javascript"></script>
        
        <!-- other js -->
        <script src="@routes.Assets.versioned("javascripts/displayData.js")" type="text/javascript"></script>
        <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" media="screen">


    </head>

    <body>
        <!-- MODAL -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
                        <!-- <h4 class="modal-title" id="myModalLabel">Temperature</h4>  -->
                    </div>
                    <div class="modal-body">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="" data-target="#tab1" data-toggle="pill">Today</a></li>
                                <li><a href="" data-target="#tab2" data-toggle="pill">Last 7 days</a></li>
                                
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div id="graphToday"></div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div id="graph7Days"></div>
                                </div>


                        </div>
                               
                    </div>
                </div>
            </div>
        </div>

        <!-- PANELS -->
        <div class="container" id="main-container"> <!-- open body container -->

            <!-- this needs to be put elsewhere (in a tab maybe ?), this is just here to show how to do it -->
   <div class="row"> 
<div class="col-md-4">

                <span class="localisation">Galway, Ireland</span><br>
           </div>

         <div class="col-md-4">

                <span class="title"><center>Weather Observation Application</center></span><br>
           </div>
            <div  class="col-md-4">
           <img class="logo" src="@routes.Assets.versioned("/images/logo.png")"/> </img>

            </div>

</div>






            <div class="row"> <!-- open row 1-->
                <div class="col-sm-6"> <!-- col md 4 for panel temperature -->
<div  class="panel panel-default">
  <div id="background"class="panel-leftheading">
      <h1 class="panel-lefttitle">Temperature</h1>
  </div>
  <div class="panel-rightbody">
                                 <table class="table">
                                <tr>
                                    <td>
                                        <div id="thermometer"></div>
                                    </td>
                                    <td id="rightColumn">
                                        <span id="dataHeaderT">Latest temperature</span><br><span class="dataValue" id="tempDataValueCur"></span><span id="cel">&#8451;</span> <span class="timeValue" id="tempDataTimeCur"></span><br>
                                        <span id="dataHeaderT">Max today</span><br><span class="dataValue" id="tempDataValueMax"></span><span id="cel">&#8451;</span> <span class="timeValue" id="tempDataTimeMax"></span><br>
                                        <span id="dataHeaderT">Min today</span><br><span class="dataValue" id="tempDataValueMin"></span><span id="cel">&#8451;</span> <span class="timeValue" id="tempDataTimeMin"></span><br>
                                        <span id="dataHeaderT">Avg today</span><br><span class="dataValue" id="tempDataValueAvg"></span><span id="cel">&#8451;</span> <span class="timeValue" id="tempDataTimeAvg"></span>
                                        <button class="btn btn-primary btn-lg" id="buttonTemp" data-toggle="modal" data-target="#myModal">Graph</button>
                                    </td> <!-- close right column -->
                                </tr>
                            </table>
                        </div> <!-- close body panel temperature -->
                    </div> <!-- close panel temperature -->
                </div> <!-- close col md 4 for temperature -->
                          <div class="col-sm-2"> </div>
                       <div class="col-sm-3">
        <div class="panel panel-default panell1">
  <img id="icon"src="/assets/images/@weatherCond.get(2).concat(".png")"/> </img> <div id="TM"> @allDayTemp.get(5) </div> <div id="cel2">&#8451; </div>
            
               </div>
               </div>

                  </div>

                     <div class="row"> <!-- open row 1-->
                <div class="col-sm-6"> <!-- col md 4 for panel temperature -->
<div class="panel  panel-default panel2">
  <div id="background" class="panel-leftheading">
      <h3 class="panel-lefttitle2">Humidity</h3>
  </div>
  <div class="panel-rightbody">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div id="humidity-gauge"></div>
                                    </td>
                                    <td id="rightColumn">
                                        <span id="dataHeaderH">Latest value:</span> <span class="dataValueH" id="humiDataValueCur"></span><span id ="po">%</span><span  id="humiDataTimeCur" class="timeValueHumi"></span><br>
                                        <span id="dataHeaderH">Min today:</span> <span class="dataValueH" id="humiDataValueMin"></span><span id ="po">%</span><span  id="humiDataTimeMin" class="timeValueHumi"></span><br>
                                        <span id="dataHeaderH">Max today:</span> <span class="dataValueH" id="humiDataValueMax"></span><span id ="po">%</span><span  id="humiDataTimeMax" class="timeValueHumi"></span><br>
                                        <span id="dataHeaderH">Avg today:</span><span class="dataValueH" id="humiDataValueAvg"></span><span id ="po">%</span><br>
                                        <button class="btn btn-primary btn-lg" id="buttonHum" data-toggle="modal" data-target="#myModal">Graph</button>
                                    </td> <!-- close right column -->
                                </tr>
                            </table>
                        </div> <!-- close body panel temperature -->
                    </div> <!-- close panel temperature -->
                </div> <!-- close col md 4 for temperature -->
                 <div  class="col-md-2"> </div>
            <div  class="col-md-3">
             <div class="panel panel-default panell2">
           <img id="humidity" src="@routes.Assets.versioned("/images/humidity3.png")"/> </img> <div  id="HM"> @allDayHumi.get(5) </div> <div id="po2"> % </div>
            </div>
            </div>

 </div>		



                        <div class="row"> <!-- open row 1-->
                <div class="col-sm-6"> <!-- col md 4 for panel temperature -->

<div class="panel panel-default panel3">
  <div id="background" class="panel-leftheading">
      <h3 class="panel-lefttitle3">Wind</h3>
  </div>
  <div class="panel-rightbody">





                            <table class="table">
                                <tr> 
                                    <td>
                                        <div id="compass"></div>
                                    </td>
                                    <td id="rightColumn">
                                                <div id="titleW" style="text-align: center;">WIND SPEED</div>
                                       <span id="dataHeaderW">Latest value:</span> <span class="dataValueWS"  id="windDataValueWSCur"></span> <span id="ms">m/s</span><span id="p"> ||</span> <span id="windDataTimeWSCur" class="timeValueWind"></span><br>
                                      <span id="dataHeaderW">Today's min:</span> <span class="dataValueWS"  id="windDataValueWSMin"></span> <span id="ms">m/s</span><span id="p"> ||</span> <span id="windDataTimeWSMin" class="timeValueWind"></span><br>
                                       <span id="dataHeaderW">Today's max:</span> <span class="dataValueWS"  id="windDataValueWSMax"></span> <span id="ms">m/s</span><span id="p"> ||</span> <span id="windDataTimeWSMax" class="timeValueWind"></span><br>
                                          <br>
                                
                                        <div id="titleW" style="text-align: center;">WIND DIRECTION</div>
                                 <span id="dataHeaderW">Latest value:</span> <span  class="dataValueWD" id="windDataValueWDCur"></span><span id="p"> || </span> <span id="windDataTimeWDCur" class="timeValueWind"></span><br>
                                <span id="dataHeaderW">Today's min:</span> <span class="dataValueWD" id="windDataValueWDMin"></span><span id="p"> || </span> <span id="windDataTimeWDMin" class="timeValueWind"></span><br>
                                 <span id="dataHeaderW">Today's max:</span> <span class="dataValueWD" id="windDataValueWDMax"></span><span id="p"> || </span> <span id="windDataTimeWDMax" class="timeValueWind"></span><br>
                                    </td>
					</tr>
								
                            </table>
                        </div> <!-- close body panel temperature -->
                    </div> <!-- close panel temperature -->
                </div> <!-- close col md 4 for temperature -->
            <div  class="col-md-2"> </div>
            <div  class="col-md-3">
             <div class="panel panel-default panell3">
           <img id="wind" src="@routes.Assets.versioned("/images/wind2.gif")"/> </img> <div id="WS"> @allDayWindS.get(5)<div> <div id="msw"> m/s </div>
            </div>

            </div>


  </div>	            


    </body>

    <!-- button onclick events -->
    <script type="text/javascript">

        //TEMPERATURE PANEL
        /*data for day display (average/min/max/current)*/
        var arrayTempAllDay = []
        @for(d <- 0 until allDayTemp.size()) {
            arrayTempAllDay.push(@allDayTemp.get(d))
        }
        displayTempData(arrayTempAllDay);
        plotThermometer(arrayTempAllDay);

        /*raw data for graph 1 day and 7 days*/
        var arrayMongoTempDataRaw = []
        @for(d <- 0 until mongoDataTempRaw.size()) {
            var appendTR = "arrayMongoTempDataRaw@mongoDataTempRaw.get(d)".replace(/&quot;/g, '\"')
            eval(appendTR)
        }


        /*onclick button graph temperature, plot graphs when pushed*/
        $('#buttonTemp').on('click', function() {
            plotGraphTempRaw1Day(arrayMongoTempDataRaw);
            plotGraphTempRaw7Days(arrayMongoTempDataRaw);
            // depending which button is pressed (here it is buttonTemp, so temperature panel's graph button),
            // redefine refreshValue which is triggered by change on modal's custom tab
            // refreshValue is global so that other click() jquery methods can access the variable
            // if it was not global, refreshValue would be defined on click()'s local scope and thus not usable in the modal or
            // "redefinable" from elsewhere
            // refreshValue here takes temperature data into account
            window.refreshValue = function () {
                var monthValue = monthValue = document.getElementById("month").value;
                var yearValue = yearValue = document.getElementById("year").value;
                if ((yearValue == "") || ((yearValue == "") && (monthValue == ""))) {
                    document.getElementById("graphCustom").innerHTML = "Please select either a year alone or a month + year";
                } else if (monthValue == "") {
                    document.getElementById("graphCustom").innerHTML = "";
                    var type = "year";
                    var dateY = yearValue;
                    var dateM = "";
                    plotGraphTempCustom(arrayMongoTempDataAgr, type, dateM, dateY);
                } else {
                    document.getElementById("graphCustom").innerHTML = "";
                    var type = "month";
                    var dateY = yearValue;
                    var dateM = toJSMonth(monthValue);
                    plotGraphTempCustom(arrayMongoTempDataAgr, type, dateM, dateY);
                }
            };
        });


        //HUMIDITY PANEL

        /*data for day display (average/min/max/current) and widget (latest data is needed)*/
        var arrayHumAllDay = []
        @for(d <- 0 until allDayHumi.size()) {
            arrayHumAllDay.push(@allDayHumi.get(d))
        }
        displayHumiData(arrayHumAllDay);
        drawHumidityGaugeChart(arrayHumAllDay);

        /*raw data for graph 1 day and 7 days*/
        var arrayMongoHumiRaw = []
        @for(d <- 0 until mongoDataHumiRaw.size()) {
            var appendHR = "arrayMongoHumiRaw@mongoDataHumiRaw.get(d)".replace(/&quot;/g, '\"')
            eval(appendHR)
        }

        /*onclick button graph humidity, plot graphs when pushed*/
        $('#buttonHum').on('click', function() {
            plotGraphHumiRaw1Day(arrayMongoHumiRaw);
            plotGraphHumiRaw7Days(arrayMongoHumiRaw);
            // same as before, refreshValue is "redefined" (to be correct, refreshValue simply gets a new value)
            // function is modified so that it takes humidity data in account
            window.refreshValue = function () {
                var monthValue = monthValue = document.getElementById("month").value;
                var yearValue = yearValue = document.getElementById("year").value;
                if ((yearValue == "") || ((yearValue == "") && (monthValue == ""))) {
                    document.getElementById("graphCustom").innerHTML = "Please select either a year alone or a month + year";
                } else if (monthValue == "") {
                    document.getElementById("graphCustom").innerHTML = "";
                    var type = "year";
                    var dateY = yearValue;
                    var dateM = "";
                    plotGraphHumiCustom(arrayMongoHumiAgr, type, dateM, dateY);
                } else {
                    document.getElementById("graphCustom").innerHTML = "";
                    var type = "month";
                    var dateY = yearValue;
                    var dateM = toJSMonth(monthValue);
                    plotGraphHumiCustom(arrayMongoHumiAgr, type, dateM, dateY);
                }
            };
        });

        //WIND PANEL
        //wind speed
        var arrayWindSDataRaw = [];
        @for(d <- 0 until allDayWindS.size()) {
            arrayWindSDataRaw.push(@allDayWindS.get(d))
        }
        displayWindSData(arrayWindSDataRaw);

        //wind direction
        var arrayWindDDataRaw = [];
        @for(d <- 0 until allDayWindD.size()) {
            arrayWindDDataRaw.push(@allDayWindD.get(d))
        }
        displayWindDData(arrayWindDDataRaw);

        //compass
        drawCompass("@{routes.Assets.versioned("images/svg/compass-rose-needleless.svg")}", "@{routes.Assets.versioned("images/svg/needle.svg")}", arrayWindDDataRaw);
        rotateNeedle();





        /*Empties the modal when it is closed (so that it can be updated when opening a new graph modal)*/
        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find("#graphToday").empty();
            $(e.target).removeData("bs.modal").find("#graph7Days").empty();
            $(e.target).removeData("bs.modal").find("#graphCustom").empty();
        });

        function toJSMonth(monthAlpha) {
            switch(monthAlpha) {
                case "January":
                    return 0;
                case "February":
                    return 1;
                case "March":
                    return 2;
                case "April":
                    return 3;
                case "May":
                    return 4;
                case "June":
                    return 5;
                case "July":
                    return 6;
                case "August":
                    return 7;
                case "September":
                    return 8;
                case "October":
                    return 9;
                case "November":
                    return 10;
                case "December":
                    return 11;
                default:
                    console.log("Error in month selection");
            }
        }
    </script>
</html>


